<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./static/js/common.js"></script>
    <script src="./static/js/init.js"></script>
    <script src="./static/css/base.css"></script>
    <title>网站导航</title>
</head>

<body id="app" style=" background-color: #f0f0f3">
    <a-config-provider :locale="zh_CN">
        <div class="p10">
            <div style="font-size:30px;">网站导航</div>
            <div class="flex" style="justify-content: center">
                <div>
                    <div class="mb8 ml80"><img src="./static/img/baidu.png" alt="" srcset="" height="60"></div>
                    <div class="flex">
                        <a-input v-model:value="currSearch" @pressEnter="search" style="width:300px">
                        </a-input>
                        <a-button type="primary" @click="search">百度一下</a-button>
                    </div>
                </div>
            </div>
            <div style="max-width: 1200px;margin: 16px auto;">
                <a-tabs v-model:activeKey="activeKey" tab-position="left">
                    <a-tab-pane v-for="(item,index) in listWebTab" :key="item.label" :tab="item.label">
                        <a-row>
                            <a-col :sm="12" :md="12" :lg="8" :xl="6" :xxl="6" v-for="cardItem in item.children"
                                :key="cardItem.label">
                                <div class="p6  flex border-radius-6 pointer mr10 mb8"
                                    style="box-shadow: 0px 1px 10px #888888;height:60px;width:220px;"
                                    @click="openPage(cardItem)">
                                    <div>
                                        <img :src="cardItem.icon||'./static/img/0.jpg'" alt="" srcset="" width="40"
                                            height="40" class="border-radius-6 fit-contain">
                                    </div>
                                    <div class="ml10">
                                        <span>{{cardItem.label}}</span>
                                        <div class="fs12 ellipsis-one" style="color: #9d9898;width: 150px;">
                                            {{cardItem.desc}}</div>
                                    </div>

                                </div>
                            </a-col>
                        </a-row>
                    </a-tab-pane>
                </a-tabs>
            </div>
        </div>
    </a-config-provider>
</body>

</html>

<script>
    const App = {
        setup() {
            const { proxy } = getCurrentInstance();
            function initState() {
                return {
                    zh_CN: antd.locales.zh_CN,
                    activeKey: 0,
                    currSearch: '',
                    listWebTab: [
                        {
                            label: '公司网站', icon: '',
                            children: [{
                                label: '函证系统', icon: './static/img/hj_0.png', url: 'http://61.155.234.222:8006/qz_hanzheng', desc: '函证管理系统'
                            },
                            { label: 'CPAS审计管理系统V4', icon: './static/img/hj_1.ico', url: 'http://118.31.69.145:7008/cpasm4/#', desc: '处理审计业务' },
                            { label: 'CPAS 电子档案系统', icon: './static/img/hj_2.png', url: 'http://120.27.243.188:7008/UACheck/login', desc: '电子归档服务系统' },
                            {
                                label: '企查查', icon: './static/img/zx_0.png', url: 'https://www.qcc.com/', desc: '工商信息企业信用信息查询公示系统'
                            },
                            { label: '263企业邮箱', icon: './static/img/zx_1.png', url: 'https://www.263.net/', desc: '企业邮箱_企业直播_电话会议_视频会议系统-263云通信' },
                            { label: '中国会计视野', icon: './static/img/zx_3.ico', url: 'https://www.esnai.com/', desc: '会计审计第一门户' },
                            { label: '巨潮资讯', icon: './static/img/jucao.png', url: 'http://www.cninfo.com.cn/new/index', desc: '基金理财好帮手' },
                            ]
                        }
                        , {
                            label: '其他网站', icon: '',
                            children: [
                                { label: '大型企业数字化平台', icon: './static/img/zx_2.png', url: 'http://ytfncc.sljt666.com:8060/nccloud/resources/uap/rbac/login/main/index.html', desc: '元泰丰业财科技' },
                            ]
                        }]
                }
            }
            const state = reactive(initState());
            function openPage(item) {
                window.open(item.url);
                proxy.$message.success(`已打开${item.label}`);
            }
            function search() {
                window.open('https://www.baidu.com/s?wd=' + state.currSearch)
            }
            return {
                ...toRefs(state),
                openPage,
                search
            }
        }
    }
    mountApp(App);
</script>